
@font-face {
  font-family: onkey-ligth;
  src: url(./fonts/orkney-light.otf);
}

* {
  font-family: onkey-ligth, sans-serif;
  font-weight: 700;
  background-color: #f7f7f7;
}

a{
  text-decoration: none;
  color: #d42e27;
  font-weight: 700;
}

.stylelogo {
  width: 70px;
  display: flex;
}

.Navstyle {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: 'Lato', sans-serif;
  flex-direction: column;
  gap: 1em;
}

.backbutton {
  display: flex;
  align-items: center;
}

.styleMenu {
  list-style: none;
  display: flex;
  gap: 1em;
  padding: 0;
}

.styleSearch {
  display: flex;
  align-items: center;
}

.styleArtimage {
  width: 70%;
  margin: 3em;
}

.styleArt {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.detailimag {
  width: 70%;
  margin: 2em;
}

.styleArtdetail {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.linkstyles {
  text-decoration: none;
  color: #d42e27;
  font-weight: 700;
}

.linkstyles:hover {
  text-decoration: underline;
  text-decoration-color: #fdd005;
}

.styleinputsearch {
  width: 15em;
  border-right: none;
  height: 2em;
  border-bottom: 2px solid black;
}

.stylesearchbutton {
  width: 2em;
  border-left: none;
  height: 32.8px;
  border-top: 2px solid black;
}

.styleinfodetail {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
  text-align: center;
}

.stylelinks {
  list-style: none;
  padding: 0;
  gap: 10px;
  display: flex;
  flex-direction: row;
}

.styleaboutme {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.stylebuttonback{
  cursor: pointer;
}

.lds-ring {
  display: flex;
  width: 100%;
  align-items: flex-start;
  justify-content: center;
  align-content: center;

}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid #00000045;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #0000004f transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}

.refInfo{
display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media screen and (min-width: 768px) {
  .Navstyle {
    flex-direction: row;
  }

  .styleMenu {
    display: flex;
    list-style: none;
    gap: 1em;
    padding: 0;
    align-items: center;
  }

  .backbutton {
    display: none;
  }

  .styleArtimage {
    width: 70%;
  }

  .styleimages {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 10px;
  }

  .styleArt {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    margin: 1em;
  }

  .styleinputsearch {
    width: 24em;
    border-right: none;
    height: 2em;
    border: 2px solid black;
    border-right: none;
  }

  .styleinputsearch:active {
    border-right: none;
    outline: none;
  }

  .styleinputsearch:focus {
    border-right: none;
    outline: none;
  }

  .stylesearchbutton {
    width: 2em;
    border: 2px solid black;
    border-left: none;
    height: 32.8px;
   
  }

  .styledetail {
    display: flex;
    flex-direction: column;
    gap: 1em;
  }

  .detailimag {
    width: 50%;
    margin: 2em;
  }

  .styleArtdetail {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin: 1em;
  }

  .styleinfodetail {
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: justify;
  }

  .styleinfohistory {
    white-space: pre-line;
  }

  .stylebuttonreturn {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
  }

  .styleaboutme {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: x-large;
  }

  .stylelinks {
    display: flex;
    list-style: none;
    gap: 3em;
    font-size: x-large;
    flex-direction: row;
  }
}
